#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  justify-content:center;

}
.square {
  width: 24px;
  height: 24px;
  border: .5px solid black;
   display: flex;
  justify-content:center;
  align-items:center;
  padding: 8px;
  font-size:small
}
.square:hover {
  background: rgb(225, 225, 225);
  cursor: pointer;
}
.square--black {
  background: green;
}
.square--white {
  background: white;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}